body{margin: 0; padding: 0;}
main{padding: 16px;}
footer{padding-left: 24px; padding-right: 0; padding-top: 24px; padding-bottom: 24px; background-color: rgb(126, 176, 126);}
img{height: 200px; width: 200px;}
nav{padding: 24px; border-bottom: black 1px;}

/* grid format */
.container{display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;}

/* header */
header{background-color: rgb(233, 92, 41);}
#white-link{color: white; font-weight: bold;}

h1{color:darkgreen;}

/* link color change and active/visited affect also removing underlinr*/
a:link{color: green;}
a:visited{color: green;}
a:active{color: green;}
a{text-decoration: none;}

/* Table formatting */
thead{background-color: rgb(210, 190, 74);}
tr:nth-child(even){background-color: rgb(227, 227, 227);}
table, th, td{border: 1.2px solid; border-color: black;}
